.signup-section {
	display: block;
}

.signup-container {
	width: 70%;
	left: 20%;
	display: table;
	height: 100%
}

.form-group {
	position: relative; 
	display:table-row-group;
	padding-top: 0.5%;
	font-size: 110%;
  	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  	margin: auto;	
  	width: 50%;
}